<h3>Results for 
  <%= @poll.title %>
</h3>

<% @poll.questions.each do |question| %>
  <hr>
  <h4 class="subheader"><%= question.title %></h4>

  <% question.answers.each do |answer| %>
    <p><%= answer.content %><p>
  <% end %>
<% end %>

<%= link_to "Pollster Home", "/", :class => "secondary button", :id => "full_width" %>