// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  text-align: center;
  margin-top: 50px;
}

#new_poll {
  width: 100%;
}

.count {
  font-size: 1.2em;
}

#full_width {
  width: 100%;
}